
/* Your CSS Code here. */
*{
    padding-left: 15px;
    margin-left: 10px;
}

.a{
    max-width: 600px;
   
    border-left: 8px solid green;
    background-color: #f8fffe;
    font-weight: bold;
    padding: 15px;
}